.map{
    position: absolute;
}
.img{
    position: absolute;
    width: 80%;
    height: 80vh;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.marker {
    width: 30px;
    height: 30px;
  }
.selectMapType{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}

.markerElt:hover{
    transform: scale(1.2);
}

.markerElt:hover::after{
    content: attr(data-desc);
    width: max-content;
    height: max-content;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: .5rem;
    font-weight: bold;
    border: 1px solid black;
}

.weather{
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 100;
    width: 100px;
    box-sizing: content-box;
    background-color: #D3D3D3;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3px;
    padding: 10px;
    border-radius: 10px;
}

.weather img{
    width: 50px;
    height: 50px;
}

.weather p{
    margin: 0;
    text-align: center;
}

.weather p:first-child{
    font-size: .8rem;
    font-weight: bold;
}

.weather p:nth-child(3){
    font-size: 1rem;
    font-weight: bold;
}

.weather p:last-child{
    font-size: .5rem;
}